<h2>My Horses</h2>

<div id='horse-list'>

  <% @horses.each do |horse| %>

  <div id='each-horse-container'>
    <%= erb :"/partials/_show_horse", layout: false, locals: {horse: horse} %>
  </div>

  <% end %>

</div>

<h3>
  <a id="new-horse" href="/horses/new">Create a new horse here</a>
</h3>