<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div id="nav-buttons" class="container">
    <ul class="nav">
      <% if current_user %>
        <li>
          <form class="" action="/users/<%= "#{current_user.id}" %>" method="GET">
            <button type="submit" class="" id='profile'>My Profile</button>
          </form>
        </li>
        <li>
          <form class="" action="/sessions/<%= current_user.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="" id='sign_out'>Sign-Out</button>
          </form>
        </li>
      <% else %>
        <li>
          <form class="" action="/login" method="GET" id='log_in_form'>
            <button type="submit" class="" id='log_in'>Sign-In</button>
          </form>
        </li>
        <li>
          <form class="" action="/users/new" method="GET" id="register_form">
            <button type="submit" class="" id='register'>Register</button>
          </form>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="container">

  <%= yield %>

  </div>
</body>
</html>
